<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of items">
    <ion-item *ngIf="item!='10'" >
      <ion-label>{{item}}</ion-label>
    </ion-item>
  </ion-list>
    <!-- aqui se hace la llamada cuando se produce
    el evento de alcanzar el limite -->
    <ion-infinite-scroll *ngIf="termina" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="cargando mas cosas..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>